/* Estilos Globais */
body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
a {
    color: #212529;
}

/* Header estilo barra superior */
.header {
    background-color: #1b5e20; /* verde escuro do IF */
    color: #fff;
    padding: 15px 20px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Título no header */
.title {
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

  #calendar {
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    height: 600px; /* ESSENCIAL */
  }

