
{% extends "layout.html" %}

{% block title %}
    Calendario
{% endblock %}

{% block main %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (document.getElementById('calendar')) {
            const calendar = new window.FullCalendar.Calendar(document.getElementById('calendar'), {
                initialView: 'dayGridMonth',
                locale: 'pt-br',
                events: [
                    {
                        title: 'Reunião importante',
                        start: '2025-04-23'
                    },
                    {
                        title: 'Evento IF',
                        start: '2025-04-25',
                        end: '2025-04-27'
                    }
                ]
            });
            calendar.render();
        }
    });
</script>

    <div id='calendar'></div>

<h2>Adicionar Evento</h2>
    <form method="post" class="calendario-form">
        <input type="number" name="dia" placeholder="Dia">
        <input type="number" name="mes" placeholder="Mês">
        <input type="text" name="titulo" placeholder="Título">
        <input type="text" name="texto" placeholder="Texto">
        <button type="submit">Adicionar</button>
    </form>
    

{% endblock %}
